/* Whatsapp Icone*/
.SectionWhatsapp{
    position: fixed;
    z-index: 999;
}

.IconWhatsapp{
    background-color: #ff0000;
    width: 60px;
    height: 60px;
    bottom: 0;

}

/* Banner */
.banner {
    background-color: #fff;
    position: relative;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    height: 100vh;
}

.icon1 {
    position: absolute;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1), #232323);
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 30px;
    width: 45px;
    height: 45px;
    left: 500px;
    border-radius: 50px;
    z-index: 10;
    /*animate*/
    animation-name: iconAnimate;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}
@keyframes iconAnimate {
    0%{
        bottom: 500px;

    }
    100%{
        bottom: 100px;
    }
}

.icon1 img{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}

.icon2{
    position: absolute;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1), #232323);
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 30px;
    width: 45px;
    height: 45px;
    left: 1320px;
    bottom: 750px;
    border-radius: 50px;
    z-index: 10;
    /*animate*/
    animation-name: iconAnimate2;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}

@keyframes iconAnimate2 {
    0%{
        bottom: 350px;

    }
    100%{
        bottom: 650px;
    }
}

.icon2 img{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;

}

.icon3{
    position: absolute;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1), #232323);
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 30px;
    width: 45px;
    height: 45px;
    left: 1100px;
    top: 1000px;
    border-radius: 50px;
    z-index: 10;
    /*animate*/
    animation-name: iconAnimate3;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}
@keyframes iconAnimate3 {
    0%{
        top: 1000px;
    }
    100%{
        top: 1050px;
    }
}

.icon3 img{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;

}

.box{
    background-image: linear-gradient(45deg, #adadad, #232323);
    position: absolute;
    bottom: -200px;
    right: -500px;
    width: 1300px;
    height: 1300px;
    transform: rotate(20deg);
    clip-path: inset(700px 700px round 30% 30%);

    /* Animates */
    animation-name: open;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes open {
    0% {
        clip-path: inset(700px 700px round 30% 30%);
    }
    100%{
        clip-path: inset(0px 0px round 30% 30%);
    }
}

.banner_img img{
    width: 130vh;
    position: absolute;
    bottom: -150px;
    right: 100px;
    transform: rotate(-20deg);
    /*Animação*/
    animation-name: imgleft;
    animation-duration: 3s;
    animation-delay: 2s;
}

@keyframes imgleft{
    0%{
        right: -400px;
    }
    100%{
        right: 100px;
    }
}

.banner_text{
    padding: 0px 10px;
    z-index:9;
    opacity: 0;

    animation-name: opacidade;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes opacidade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.banner_text h1, p {
    color: #232323;
}

.banner_text p{
    width: 40%;
    white-space: normal;
}

.banner_text buttcirc{
    background-color: #ff0000;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.banner_text button {
    background-color: #333;
}


/* REFERENCIA */

.refes {
    background-image: linear-gradient(45deg, #3b3b3b, #232323);
    backdrop-filter: blur(10px);
    border-radius: 100px;
    backdrop-filter: blur(10px);
       
}

.referencias{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
    margin: 125px 10px;
}

.refes img{
    width: 15%;
    margin: 10px 10px;

}

.exp {
    background-image: linear-gradient(45deg, #c3c3c3, #686868);
    margin: 25px;
    display: flex;
    align-items: center;
    padding: 0px 50px;
    border-radius: 100px;
    font-style: italic;
}

.iconexp {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1), #232323);
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 25px;  
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.iconexp img{
    width: 45px;
}

.h3exp{
    color: #fff;
    margin-left: 150px;
    margin-right: 10px;
    font-size: 25px;
}

.pexp{
    
    color: #fff;
    font-size: 20px;
}

/* SECTION DEPOMENTOS */

.depoimentos{
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    height: 300px;
    margin: 5%;
    padding: 25px;
}

.depoimentos h2 {
    position: relative;
    top: 100px;
}

.depoimentos p{
    position: relative;
    top: 90px;
}

.depoimentos fotos{
}

.perfil1 {
    background-color: #ff0000;
    position: absolute;
    left: 15px;
    border: #fff solid 5px;
}
.perfil2 {
    background-color: #ff0000;
    position: absolute;
    left: 50px;
    border: #fff solid 5px;
}
.perfil3 {
    background-color: #ff0000;
    position: absolute;
    left: 90px;
    border: #fff solid 5px;
}
.perfil4 {
    background-color: #ff0000;
    position: absolute;
    left: 120px;
    border: #fff solid 5px;
}
.perfil5 {
    background-color: #ff0000;
    position: absolute;
    left: 150px;
    border: #fff solid 5px;
}


.depoimentos img {
    width: 50px;
    margin: 10px 10px;
    border-radius: 50%;
}


.iconstar1 {
    position: absolute;
    left: 280px;
}
.iconstar2 {
    position: absolute;
    left: 330px;
}
.iconstar3 {
    position: absolute;
    left: 380px;
}
.iconstar4 {
    position: absolute;
    left: 430px;
}
.iconstar5 {
    position: absolute;
    left: 480px;
}


/*RESPONSIVIDADE*/

@media screen and (max-width: 1300px){
    .box{
        background-image: linear-gradient(45deg, #adadad, #232323);
        position: absolute;
        bottom: -200px;
        right: -750px;
        width: 1300px;
        height: 1300px;
        transform: rotate(20deg);
        clip-path: inset(0px 0px round 30% 30%);
    }
    
    .banner_img img{
        width: 155vh;
        position: absolute;
        bottom: -300px;
        right: 400px;
        transform: rotate(-20deg);
        
    }

    section{
        max-width: 1000px;
        margin: auto;
    }

}

@media screen and (max-width: 450px) {
    section{
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .banner {
        position: relative;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 30px;
        height: 1150px;
    }

    .banner p {
        font-size: 20px;
    }
    
    .icon1 {
        left: 10px;
        top: 300px;
        width: 25px;
        height: 25px;
    }
    .icon1 img {
        width: 30px;
    }

    .icon2 {
        left: 320px;
        top: 200px;
        width: 25px;
        height: 25px;
    }
    .icon2 img {
        width: 30px;
    }

    .icon3 {
        left: 70px;
        top: 0px;
        width: 25px;
        height: 25px;
    }
    .icon3 img {
        width: 30px;
    }
    
    
    .box{
        background-image: linear-gradient(45deg, #adadad, #232323);
        position: absolute;
        bottom:  320px;
        right: -300px;
        width: 700px;
        height: 700px;
        transform: rotate(20deg);
        clip-path: inset(0px 0px round 30% 30%);
    }
    
    

    .banner_img img{
        width: 90vh;
        position: absolute;
        bottom: -150px;
        right: 50px;
        transform: rotate(-20deg);
        
    }

    @keyframes imgleft{
        0%{
            right: -400px;
        }
        100%{
            right: 50px;;
        }
    }
    
    .banner_text{
        padding-top: 700px;
        z-index:9;
    }
    
    .banner_text h1, p {
        color: #232323;
    }
    
    .banner_text h1{
        font-size: 30px;
    }

    .banner_text p{
        width: 90%;
        white-space: normal;
    }
    
    .banner_text button {
        background-color: #333;
    }
}



footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 500px;
}