body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: "Poppins";
    font-size: 25px;
    line-height: 1.5;
    overflow-x: hidden;
    max-width: 1420px; /* Largura máxima Full HD */
    margin: 0 auto; /* Centraliza na tela */
    width: 100%; /* Para ocupar 100% da largura disponível */
    overflow-x: hidden;
}

button{
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button:hover{
    background-color: #3e8e41;
}

section{
    margin: 0px;
    padding: 0px;

    animation: animateSection 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 45%;
}

@keyframes animateSection {
    from{
        opacity: 0;
        translate: 100vw 0;
    }
    to{
        opacity: 1;
        translate: 0 0;
    }
}

/*MENU*/

.header_nav {
    max-width: 1520px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 1, 1, 0.3);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding: 5px 0px;
    position: fixed;
    top: -100px;
    left: 50%; 
    transform: translateX(-50%);
    color: white;
    border-radius: 50px;
    z-index: 10;

    animation-name: animatenav;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

@keyframes animatenav{
    0%{
        top: -100px;

    }
    100%{
        top: 25px;
    }
}

nav {
    
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;

}
.logoheader{
    font-family: "Poppins";
    font-weight: 800;
    font-style: normal;
    display: flex;
    align-items: center;
}

.logoheader img{
    width: 50px;
    height: 50px;
    top: 10px;
    margin-right: 10px;
}

.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-list a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.nav-list li {

    margin-left: 25px;
    margin-right: 25px;
}

/* Banner */


.banner {
    background-color: #fff;
    position: relative;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    height: 100vh;
}

.icon{
    position: absolute;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1), #232323);
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 30px;
    width: 80px;
    height: 80px;
    left: 700px;
    border-radius: 50px;
    z-index: 10;
    /*animate*/
    animation-name: iconAnimate;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}
@keyframes iconAnimate {
    0%{
        bottom: 500px;

    }
    100%{
        bottom: 100px;
    }
}

.icon img{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
}

.icon2{
    position: absolute;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1), #232323);
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 30px;
    width: 80px;
    height: 80px;
    left: 1200px;
    bottom: 650px;
    border-radius: 50px;
    z-index: 10;
    /*animate*/
    animation-name: iconAnimate2;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}
@keyframes iconAnimate2 {
    0%{
        bottom: 350px;

    }
    100%{
        bottom: 650px;
    }
}

.icon2 img{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;

}

.icon3{
    position: absolute;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1), #232323);
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 30px;
    width: 80px;
    height: 80px;
    left: 1000px;
    bottom: 200px;
    border-radius: 50px;
    z-index: 10;
    /*animate*/
    animation-name: iconAnimate3;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}
@keyframes iconAnimate3 {
    0%{
        bottom: -100px;

    }
    100%{
        bottom: 200px;
    }
}

.icon3 img{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;

}


.box{
    background-image: linear-gradient(45deg, #adadad, #232323);
    position: absolute;
    bottom: -200px;
    right: -500px;
    width: 1300px;
    height: 1300px;
    transform: rotate(20deg);
    clip-path: inset(700px 700px round 30% 30%);

    /* Animates */
    animation-name: open;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes open {
    0% {
        clip-path: inset(700px 700px round 30% 30%);
    }
    100%{
        clip-path: inset(0px 0px round 30% 30%);
    }
}

.banner_img img{
    width: 130vh;
    position: absolute;
    bottom: -150px;
    right: 100px;
    transform: rotate(-20deg);
    animation-name: imgleft;
    animation-duration: 3s;
    animation-delay: 2s;
}

@keyframes imgleft{
    0%{
        right: -400px;
    }
    100%{
        right: 100px;;
    }
}

.banner_text{
    padding: 0px 10px;
    z-index:9;
    opacity: 0;

    animation-name: opacidade;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes opacidade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.banner_text h1, p {
    color: #232323;
}

.banner_text p{
    width: 40%;
    white-space: normal;
}

.banner_text buttcirc{
    background-color: #ff0000;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.banner_text button {
    background-color: #333;
}




.refes {
    background-image: linear-gradient(45deg, #3b3b3b, #232323);
    border-radius: 40px;
       
}

.referencias{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin: 100px;
}

.refes img{
    width: 12%;
    margin: 10px 10px;

}

.exp section, h3{
    background-image: linear-gradient(45deg, #c3c3c3, #686868);
    margin: 25px;
    padding: 15px 30px;
    border-radius: 35px;
    font-style: italic;
    
}

@media screen and (max-width: 1300px){
    .box{
        background-image: linear-gradient(45deg, #adadad, #232323);
        position: absolute;
        bottom: -200px;
        right: -750px;
        width: 1300px;
        height: 1300px;
        transform: rotate(20deg);
        clip-path: inset(0px 0px round 30% 30%);
    }
    
    .banner_img img{
        width: 155vh;
        position: absolute;
        bottom: -300px;
        right: 400px;
        transform: rotate(-20deg);
        
    }

    section{
        max-width: 1000px;
        margin: auto;
    }

}

@media screen and (max-width: 450px) {
    section{
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    .banner {
        position: relative;
        padding: 20px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 30px;
        height: 1150px;
    }
    
    
    .box{
        background-image: linear-gradient(45deg, #adadad, #232323);
        position: absolute;
        bottom: 350px;
        right: -300px;
        width: 700px;
        height: 700px;
        transform: rotate(20deg);
        clip-path: inset(0px 0px round 30% 30%);
    }
    
    

    .banner_img img{
        width: 90vh;
        position: absolute;
        bottom: -150px;
        right: 50px;
        transform: rotate(-20deg);
        
    }

    @keyframes imgleft{
        0%{
            right: -400px;
        }
        100%{
            right: 50px;;
        }
    }
    
    .banner_text{
        padding-top: 700px;
        z-index:9;
    }
    
    .banner_text h1, p {
        color: #232323;
    }
    
    .banner_text h1{
        font-size: 30px;
    }

    .banner_text p{
        width: 90%;
        white-space: normal;
    }
    
    .banner_text button {
        background-color: #333;
    }
}



footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 500px;
}