body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

section{
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    width: 100%;
}

header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

button{
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover{
    background-color: #3e8e41;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}